body {
    background-image: url("https://img.freepik.com/foto-gratis/superficie-ladrillo-oscuro-era-irregular_174431-108.jpg?size=626&ext=jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.cert-img {
    width: 500px;   
    height: auto;
    border-radius: 8px;
}

.titulo-cert {
    color: #f3eae8;
    font-family: Tahoma, sans-serif;
    font-size: xx-large;
}




