body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

main {
    text-align: center;
}

.titulo-principal {
    color: #c2ffb1;
    margin: 40px;
    text-align: left; /* solo el título a la izquierda */
}

.cert-item {
    margin-bottom: 60px;
}

.cert-img {
    width: 500px;
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.cert-img:hover {
    transform: scale(1.03);
}






