body {
  background-image: url("https://img.freepik.com/foto-gratis/superficie-ladrillo-oscuro-era-irregular_174431-108.jpg?size=626&ext=jpg");
  background-size: 100rem;
  background-position: center center;   
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

